*{
  margin:0;
  padding:0;
}
body{
  /* background:linear-gradient(45deg,#FF416C,#FF4B2B);
  background:linear-gradient(90deg,#56CCF2,#2F80ED); */
  font-family: sans-serif;
  font-size:25px;
  color:white;
  height:100vh;
}
.navbar{
  display: flex;
  background-color: rgb(26, 164, 249);
  justify-content: space-around;
  align-items: center;
  height:3rem;
  font-size:65%; 
}
.dashAndQs{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: space-around;
  margin-top: 10px;
  width:100%;
}
.questions{
  max-width:500px;
  margin-left:7px;
  font-weight: 670;
  color:black;
  font-family:  'Tahoma','Geneva', Verdana, sans-serif;

}
.dashbar{
  
  width:200px;
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  align-self: flex-start;
}

.question{
  color:rgba(0, 0, 0, 0.792);
  margin-bottom: 10px;
  font-weight:500;

}
.dashbar span{
 text-align: center;
  color:rgba(0, 0, 0, 0.644);
  padding:2px;
  width:25px;
  height:25px;
  border: 2px solid lightblue;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.result{
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:30px;
  padding:30px;
  gap:10px;
}
.correct{
  background-color: rgb(83, 215, 83);

}
.wrong{
  background-color: rgb(241, 51, 51);
  color:white;
}
.button{
  display: inline-block;
  padding:8px 20px;
  background-color: rgb(82, 198, 234);
  border:none;
  border-radius: 7px;
  font-weight: 600;

}
button:hover{
  background-color: rgb(26, 164, 249);
}
.options{
  display: inline-block;
  font-size:1.2rem;
  font-weight:300;
  font-family: Arial, Helvetica, sans-serif;
  color:rgba(0, 0, 0, 0.769);

}
.btns{
  padding:20px;
}
a{
  text-decoration: none;
  font-size:20px;
  color:black;

}
footer{
  margin-top:15%;
  font-size:10px;
  color:black;

}