<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet" href="test.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.10.111/pdf.min.js"></script>
</head>
<body>
  <div class="container"></div>
  <div class="navbar"></div>
  <div class="dashAndQs">
    <form class="questionsForm">
      <div class="questions"></div>
      <div class="btns"> <button type="button" id="prevbtn">Previous</button>
        <button type="button" id="nextbtn">Save/next</button>
        <button type="button" id="submitbtn">Submit</button></div>
        <div class="result">

        </div>
      <!-- <p class="question">
        Q1.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Iste iusto, aperiam, cupiditate aspernatur aut pariatur ullam error dolores corporis fugiat et sunt impedit dicta rerum voluptatem officiis placeat. Rem, quibusdam!
      </p>
      <p class="option">1. option a</p>
      <p class="option">2. option b</p>
      <p class="option">3. option c</p>
      <p class="option">4. option d</p> -->
      
     
    </form>

    <div class="dashbar">
    </div>

  </div>
  
  
  <script defer type="module" src="../controller/testController.js"></script>

</body>
</html>